body{
background-color: grey;
font-family: Verdana, Geneva, Tahoma, sans-serif

}

.common {
    background-color: lightgray;
    border: 2px solid white;
    position: absolute;


}
.header{
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    z-index: 2;
    border-bottom: 1px red;

}
.leftmenu{
    top: 114px;
    left: 5px;
    width: 100px;
    bottom: 39px;
    z-index: 1;
    padding-top: 40px;
    border-right: 1px red;

}
.mainbody{
    top: 114px;
    left: 114px;
    right: 114px;
    bottom: 39px;
}

.rightmenu{
    top: 114px;
    right: 5px;
    width: 100px;
    bottom: 39px;
    border-left: 1px red;
}

.footer{
    bottom: 5px;
    left: 5px;
    right: 5px;
    height: 25px;
    font-size: 8px;
    color: #99999;
    text-align: center;
    padding-top: 15px;


}

.subheader{
    float: right;
    padding-bottom: 40px;

}